/* External Styles */
body {
  font-family: Roboto, Arial, sans-serif;
}

button {
  background-color: #fff;
  border: 0px; 
}

/* Utility classes */
.text-center {
  text-align: center;
}
.red {
 border: 1px solid red; 
}
.green {
  border: 1px solid green;
}

/* Styles for header */
/* Class selector */
.header-wrapper {
  margin: 0 auto;
  padding: 12px 0;  /* */
  width: 80%;
}
.collapsible-menu,
.main-header {
  display: inline-block;
}
.collapsible-menu{
  width: 26px;
}

.main-header {
  width: calc(100% - 32px);
}

.logo-link {
  display: inline-block;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.controls-bar {
  display: inline-block;
  width: calc(100% - 54px);
  text-align: right;
}
.search-input { /* */
  width: 500px;
  padding: 8px 12px;
  font-size: 15px;
  outline: none;
  border: solid 1px #bbb;
  border-radius: 16px;
}

/* Styles for Footer */
footer {
  border-top: 1px solid rgb(173, 173, 173);
}
footer ul{
  padding: 0;
}
footer ul li {
  list-style: none;
  display: inline;
  margin: 0 6px;
}






/* Styles for For Home Page */
/* Id Selector */
#suggestedTopics {
  border-bottom: 4px solid #ccc;
  height: 34px;
  padding-top: 12px;
}

/* finding nested element */
#suggestedTopics ul {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  height: 40px;
  /* the following will work in firefox alone */
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

#suggestedTopics ul li {
  list-style: none;
  display: inline;
  margin: 0 2px;
}

#suggestedTopics ul li a{
  color: rgb(99, 99, 99);
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
  background-color: #ebebeb;
  padding: 5px 7px; /* top right bottom left */
  border-radius: 5px;
}

